.OfficeLoginButton {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ea3e23;
    text-decoration: none;
    background: white;
    outline: none;
    border: none;
    border: 1px solid #ea3e23;
    border-left: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.75rem 1rem;
    padding-left: 0.75rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.OfficeLoginButton:hover {
    background-color: #ea3e23;
    color: white;
}

.OfficeLoginImage {
    width: auto;
    height: 3rem;
    background-repeat: round;
    border: 1px solid #ea3e23;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}