.Office-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.Office-image {
  display: inline-block;
  border: 1px solid #ea3e23;
  width: 2rem;
  height: 2rem;
  background-image: url(https://gxcuf89792.i.lithium.com/t5/image/serverpage/image-id/1296i7768C2951837E376/image-size/small);
  border-radius: 4px;
  background-size: cover;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.Office-button-text {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ea3e23;
  padding: 0.5rem;
  color: #ea3e23;
  background: white;
  font-size: 0.9rem;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.Office-button-text:hover {
  color: white;
  background: #ea3e23;
  border: 1px solid #ea3e23;
}
